<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fyp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FYP">
        <activity android:name=".Economics.OranBergin"></activity>
        <activity
            android:name=".OnlineLesson"
            android:exported="true"
            android:parentActivityName=".Maths.LearningHubHome" />
        <activity
            android:name=".Calendar"
            android:exported="true"
            android:parentActivityName=".Profile" />
        <activity
            android:name=".EditDetails"
            android:exported="true"
            android:parentActivityName=".Profile" />
        <activity android:name=".Maths.ExamPapersMaths" />
        <activity
            android:name=".StudentLogin"
            android:exported="true" />
        <activity
            android:name=".Tutor.TutorResources"
            android:exported="true" />
        <activity
            android:name=".Maths.WorksheetsMaths"
            android:exported="true" />
        <activity android:name=".Maths.StudentResources" />
        <activity
            android:name=".Tutor.TutorQuestion"
            android:exported="true" />
        <activity
            android:name=".StudentQuestion"
            android:exported="true" />
        <activity android:name=".Maths.LearningHubHome" />
        <activity
            android:name=".Irish.ColmDineen"
            android:exported="true"
            android:parentActivityName=".DisplayTutors" />
        <activity
            android:name=".Maths.EoinHurley"
            android:exported="true"
            android:parentActivityName=".DisplayTutors" />
        <activity android:name=".TutorProfile" />
        <activity
            android:name=".Profile"
            android:exported="true" />
        <activity
            android:name=".LearningHub"
            android:exported="true" />
        <activity
            android:name=".DisplayTutors"
            android:exported="true" />
        <activity
            android:name=".TutorForms"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".TutorRegistration"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>